GSH Api should look for certificate serial number, instead of keyid

If a user always asks for a certificate using the same public key, the keyid will always be the same, so when the agent asks the api for this certificate information it will give only the first record in the database.

If the user had asked for a certificate for ip 10.0.0.1 and then a second for 10.0.0.2, the api will only answer the agent with the first remote host, thus not authorizing the login in the second remote host.

Serial number should be unique among all certificates in a given certificate authority. Gsh api should looks for this instead of keyid.

After a research, [protocol documentation](https://cvsweb.openbsd.org/src/usr.bin/ssh/PROTOCOL.certkeys?annotate=HEAD) handles serial field at certificate as a optional value.

```
165: serial is an optional certificate serial number set by the CA to
166: provide an abbreviated way to refer to certificates from that CA.
167: If a CA does not wish to number its certificates it must set this
168: field to zero.
```

Maybe, signature field can be used to verify certificate at GSH API:

```
216: signature is computed over all preceding fields from the initial string
217: up to, and including the signature key. Signatures are computed and
218: encoded according to the rules defined for the CA's public key algorithm
219: (RFC4253 section 6.6 for ssh-rsa and ssh-dss, RFC5656 for the ECDSA
220: types), and draft-josefsson-eddsa-ed25519-03 for Ed25519.
```

To get signature, [AuthorizedPrincipalsCommand tokens](https://man.openbsd.org/sshd_config#TOKENS) needs make use of  `%k` to get base64-encoded certificate for authentication.

I wiil implement a PoC with this approach.

Doing deeper investigation, I found that the buffer size used to store the serial_number was not appropriate, generating the truncation at (https://github.com/openssh/openssh-portable/blob/master/auth2-pubkey.c#L421). I have already submitted the bug (https://bugzilla.mindrot.org/show_bug.cgi?id=3012) to the OpenSSH team but it seems better to have a more complete alternative.


At #47, we add some other methods for accurate identification of certificate.

This issue can be closed now, ok @fbomlisboa ?